:root {
  --bg-main: #1e1e1e;
  --bg-panel: #252526;
  --bg-card: #2d2d2d;

  --text-primary: #d4d4d4;
  --text-secondary: #9cdcfe;

  --accent-green: #98c379;
  --accent-yellow: #e5c07b;
  --accent-orange: #d19a66;
  --accent-red: #e06c75;
  --accent-purple: #c678dd;

  --border: #3c3c3c;
}